<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">CHI SONO</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">LE MIE COMPETENZE</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Anteprima della sezione -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Mattia Policicchio</h1>
        <p class="home__subtitle">WEB-DEVELOPER, PROGRAMMATORE PYTHON</p>
      </section>
      <!-- Sezione "Chi sono" -->
      <section class="main__about about" id="about">
        <h2 class="about__title">ABOUT ME</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            Ciao, sono Mattia Policicchio e sono un giovane sviluppatore di siti web e programmatore Python. Ho una passione per la tecnologia e mi piace creare siti che semplificano alcune attività quotidiane e di lavoro. Sono sempre disponibile ad imparare nuove tecnologie e ad essere criticato costruttivamente per migliorare le mie competenze e di stare in un team di lavoro. Se vuoi contattarmi, puoi farlo tramite i miei social media o inviandomi un e-mail.
          </p>
          <img
            class="info-block__img"
            src="../static/img/profile.png"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Sezione competenze -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">LE MIE COMPETENZE</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/python.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">Pygame Zero</span>
              <input class="skill__button" type="submit" name="button_python" value="MOSTRA PROGETTO">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/discord.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">Discord Bot</span>
              <input class="skill__button" type="submit" name="button_discord" value="MOSTRA PROGETTO">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/html.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">HTML/CSS</span>
              <input class="skill__button" type="submit" name="button_html" value="MOSTRA PROGETTO">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/db.webp"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">SQLAlchemy</span>
              <input class="skill__button" type="submit" name="button_db" value="MOSTRA PROGETTO">
            </li>
          </ul>
        </form>
        {% if button_python%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/python-project.png" alt="project" width="500">
              <a class="project__link" href="https://hub.kodland.org/en/project/256989?stopDirectLinkBehavior=true">Apri su KodLand HUB</a>
          </div>
        {% endif %}
        {% if button_discord%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/discord.png" alt="project" width="500">
              <a class="project__link" href="https://github.com/mattia957/discord-bot">Apri su GitHub</a>
          </div>
        {% endif %}
        {% if button_html%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/html-project.png" alt="project" width="500">
              <a class="project__link" href="https://github.com/mattia957/meme-generator">Apri su GitHub</a>
          </div>
        {% endif %}
        {% if button_db%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/db-project.png" alt="project" width="500">
              <a class="project__link" href="https://github.com/mattia957/diary-itl-main">Apri su GitHub</a>
          </div>
        {% endif %}
      </section>
      <!-- Modulo di feedback -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Inserire l'e-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Commenti"></textarea>
          </label>
          <button class="form__button" type="submit">INVIA</button>
        </form>
      </section>
    </main>
    <!-- Un piè di pagina per i link ai social media -->
    <footer>

    </footer>
  </body>
</html>
